.container {
    background-color: rgb(166, 230, 230);
    width: 600px;   
}

h1, h2 {
    color: white;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orangered;
}

#gameTag {
    padding-top: 10px;
    padding-bottom: 10px;
}

#title {
    color: white;
    background-color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    width: 200px;
}

.allDirections {
    background-color: rgb(214, 214, 103);
    padding-top: 10px;
    padding-bottom: 10px;  
}

.randomNumber {
    width: 200px;
    height: 100px;
    color: black;
    background-color: blue;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

.winLoseTotal {
    background-color: blue;
    color: white;
    width: 100px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

.crystal-1, .crystal-2, .crystal-3, .crystal-4 {
    width: 100px;
    height: 100px;
}

.scoreBanner {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
}

.userScore {
    width: 200px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
}