.container {
    background-color: rgb(96, 100, 100);
    width: 600px;   
}

h1, h2 {
    color: white;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orangered;
}

#gameTag {
    padding-top: 10px;
    padding-bottom: 10px;
}

#title {
    color: white;
    background-color: rgb(32, 187, 18);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    width: 200px;
}

.allDirections {
    background-color: rgb(120, 162, 241);
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-left: 5px; 
}

.randomBanner {
    width: 207px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white; 
}

.randomNumber {
    width: 207px;
    height: 100px;
    color: black;
    background-color: blue;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

.winBanner {
    width: 98px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
}

.loseBanner {
    width: 98px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
}

.winTotal {
    background-color: blue;
    color: white;
    width: 98px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

.loseTotal {
    background-color: blue;
    color: white;
    width: 98px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

.crystal-1, .crystal-2, .crystal-3, .crystal-4 {
    width: 100px;
    height: 100px;
}

.scoreBanner {
    width: 207px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
}

.userScore {
    width: 207px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
}